.hero{
    margin : 3rem;
    display: flex;
    justify-content: space-between;

}



.hero .col1 h3{
    margin-bottom: 0;
    font-size: 2.2rem;
    text-align : left;
}

.hero .col1 h1{
    margin: 0;
    font-size: 6rem;
    color:  #09c;
    text-align : left;

}

.hero .col1 p {
    /* font: normal normal normal 1.6rem/2.5rem Poppins; */
    font-size: 1.3rem;
    text-align : left;

}
